body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9eff0;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.container #reg-form {
    background-color: rgb(64, 77, 77);
    color: #ffffff;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 100px;
}

.title h2 {
    text-align: center;
    padding-bottom: 0;
}

div.form-section {
    padding: 26px;
    text-align: center;
}

div.form-section label {
    width: 20%;
    float: left;
    text-align: right;
}

div.form-section input {
    width: 70%;
    height: 25px;
    float: left;
    margin-left: 20px;
    border-radius: 5px;
    padding: 4px;
}

div.form-section button {
    float: left;
    margin-left: 20px;
}

button.btn-signup {
    height: 30px;
    background-color: darkcyan;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;

}

.form-section a {
    color: darkcyan;
    text-decoration: none;
}

.form-section a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.nav-container {
    width: 80%;
    margin: auto;
}

header {
    background-color: rgb(64, 77, 77);
    padding-top: 20px;
    min-height: 50px;
}

header a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px;
}

header #brand {
    float: left;
}
header #brand h1 {
    margin: 0;
    color: #ffffff;
} 

header nav {
    float: right;
    margin-top: 10px;
}

header li.active a {
    color: darkcyan;
}

header li a:hover {
    color: darkcyan;
    text-decoration: underline #ffffff;
}

footer {
    padding: 1px;
    text-align: center;
    background-color: darkcyan;
    color: #ffffff;
    margin-top: 20px;
    font-size: 12px;
    line-height: 13px;
}